* {
	margin: 0;
	font-family: "open sans", sans-serif;
}
.text-primary {
	color: #fd6e0a;
}
.btn-primary {
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	border: 0;
	padding: 18px 35px;
	height: 64px;
	border-radius: 5px;
	background: #fd6e0a;
	
}
.header {
	background: #fff8f3;
	background-image: url("../images/header_bg.png"),
		url("../images/developer.png");
	background-repeat: no-repeat;
	background-position: bottom right, left;
	background-size: auto, 100px 600px;
}

/* header and navigation styles */
nav {
	display: flex;
	justify-content: space-between;
	margin: 50px 200px;
}
.nav-title {
	font-weight: 800;
	font-size: 45px;
}
nav ul {
	display: flex;
	align-items: center;
}
nav li {
	list-style: none;
	margin-left: 50px;
}
/* banner styles */
.banner {
	display: flex;
	align-items: center;
	margin: 0 200px;
	width: auto;
	gap: 510px;
	position: relative;
}
.banner-title {
	font-weight: 700;
	font-size: 55px;
}
.banner-sub-title {
	font-weight: 600;
	font-size: 45px;
	margin-bottom: 26px;
}
.banner-description {
	color: #757575;
	font-size: 18px;
	margin-bottom: 30px;
}
img {
	position: relative;
}

main {
	max-width: 1140px;
	margin: 0 auto;
}
section {
	margin-top: 100px;
}
/* about section style */
.about {
	background-color: #fff8f3;
	border-radius: 10px;
	padding: 130px 250px;
	text-align: center;
}

.section-title {
	text-align: center;
	font-weight: 700;
	margin-bottom: 50px;
	font-size: 35px;
}
.section-description {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
}
.about-info-container {
	display: flex;
	justify-content: space-around;
}
.about.info-title {
	font-size: 10px;
	color: #757575;
}
.info-description {
	font-size: 10px;
	font-weight: 600;
	color: #474747;
}
/* what i do */

.skills-containers {
	display: flex;
	gap: 24px;
}
.card {
	background: #d3cbcb;
	border-radius: 5px;
	padding: 30px;
	transition-duration: calc(2);
}
.skill-title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}
.skill-description {
	color: #474747;
}
/* resume style */

.resume-content {
	display: flex;
	gap: 100px;
}
.Education {
	width: 700px;
}
.Experience {
	width: 450px;
}

.resume .title {
	color: #757575;
	font-weight: 700;
	font-size: 25px;
	margin-bottom: 10px;
}
.resume .sub-title {
	color: #757575;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}
.resume .description {
	color: #757575;
}
.resume-item {
	margin-top: 30px;
	margin-bottom: 30px;
}
.resume-button {
	text-align: center;
	margin-top: 50px;
}
/* contact style */
.Contact {
	display: flex;
	gap: 100px;
	background-color: #fff8f3;
	padding: 130px 200px;
	max-width: fit-content;
}
.Contact .section-title {
	text-align: left;
}
.Contact input [type="text"],
input [type="email"],
textarea {
	border: 0;
	margin-bottom: 24px;
	width: 100%;
	padding-left: 18px 30px;
}
.input {
	height: 64px;
}
/*media query responsive styles*/

@media screen and(max-width:576px){
	.header{
		background-image: none;
	}
 .skills-containers ,
 .banner,
 .about-info-container ,
 .Contact{
flex-direction: column;
gap:20px;
padding: 10px 20px;
 }
 .banner{
	margin: 0 20px ;
 }
 img{
	width: 100%;
 }
 nav ul , nav{
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	padding-left: 20px;
 }
 nav li{
	margin-left: 0;
 }
 .about ,.Contact{
	padding: 20px;
 }
.resume-content{
	flex-direction: column;
	padding: 10px 20px;
}
.Contact input [type="text"],
input [type="email"],
textarea {
	padding: 0 0 0 5px;
}
}
@media screen and(min-width:577px)and (max-width:992px){
	.about ,.Contact{
		padding: 20px;
		gap:10px;
	 }
	 .Contact , .banner{
		flex-direction: column;
	 }
	 .Contact input [type="text"],
input [type="email"],
textarea {
	padding: 0 0 0 5px;
}

	 nav ul , nav{
		flex-direction: column;
		gap: 20px;
		align-items: flex-start;
		padding-left: 20px;
	 }
	 nav li{
		margin-left: 0;
	 }
}